.header {
   display: grid;
   grid-template: 1fr / 300px 1fr 300px;
   border: 1px solid black;
   
   // &__logo{}

   // &__navbar {}

   // &__profile {}
}

.navbar {
   display: grid;
   align-items: center;
   &__list {
      display: flex;
      justify-content: space-evenly;
   }
   
}